@mixin button($bckgr, $clr, $size, $padding) {
  background-color: $bckgr;
  color: $clr;
  font-size: $size;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  padding: $padding ($padding * 2);
  text-decoration: none;
}

.primary_button {
  @include button($clrLight2, $clrDark1, 1.125rem, 1rem);
}

.secondary_button {
  @include button($clrLight1, $clrText1, 0.875rem, 0.75rem);
}
