.like_form {
  @include flex(center, center);

  input[type='submit'] {
    background-color: $clrLight2;
    box-shadow: $shadow;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;

    &:last-child {
      background-color: $clrLight1;
      opacity: 0.8;
    }

    + input[type='submit'] {
      margin-left: 1.5rem;
    }
  }
}
