body {
  font-family: 'Poppins', sans-serif;
}

/* Styles for the different headers, paragraphs list elements and labels. */

h1 {
  font-size: 32px;
  font-weight: 600;
  color: #f8f8f8;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: #f8f8f8;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  color: #f8f8f8;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  color: #f8f8f8;
}

h5 {
  font-size: 14px;
  font-weight: 600;
  color: #f8f8f8;
}

.section_header {
  margin-bottom: 0.75rem;
  padding: 0 1.5rem;
}

p,
li,
label {
  font-size: 14px;
  font-weight: 400;
  color: #ebebeb;
}

.p_small {
  font-size: 12px;
}
