head
    title DogeMeet!
    link(rel='stylesheet', href='./../public/css/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,600&display=swap')
    link(rel="icon", href="../../public/images/browser_icon.png")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")