form(id="like_form", action="/like", method="post") 
    input(type="submit", value="Cute", name="cute")
    input(type="submit", value="Cool", name="cool")
    input(type="submit", value="Pretty", name="pretty")
    input(type="submit", value="Skip", name="skip")