nav 
    ul 
        li 
            a(href="")
                 img(src="../../public/images/chat.svg", alt="Chat icon")
        li 
            a(href="/matches/")
                img(src="../../public/images/like.svg", alt="Likes icon") 
        li  
            a(href="/search/")
                img(src="../../public/images/loupe.svg", alt="Search icon") 