doctype html
html 
    include components/head.pug
    style 
        include ../static/public/css/home.css
    body 
        include components/header.pug
        main 
h3.section_header  ADD PROFILE PHOTO
p
  | Add a nice profile photo to complete your user profile.
form(method='POST' action='/addUserPhoto' enctype='multipart/form-data')
    div
        label Upload profile picture
        input(type='file' name='profile-file' required='')
    div
        input(id="submit_button" class="primary_button" type="submit" value="continue")
            include components/nav.pug