doctype html
html 
    include components/head.pug
    style 
        include ../static/public/css/user-profile.css
    body 
        include components/header.pug
        main 
            form(action="#", method="post") 
                section 
                    h3(class="section_header") CHANGE PASSWORD
                    div(class="profile_container" class="password_container") 
                      input(id="new_password" class="password_container" type="password" name="nickname" placeholder="Create new password" )
                    div 
                    div(class="profile_container" class="password_container")
                      input(id="confirm_new_password" class="password_container" type="password" name="nickname" placeholder="Confirm new password" )
                    div 


            section(id="requirements")
              h3 Password must contain the following: 
              ul 
               li(id="letter" class="invalid") A capital letter
               li(id="number" class="invalid") A number 
               li(id="length" class="invalid") Minimum of 8 characters 
    
            input(id="submit_button" class="primary_button" type="submit" value="Reset Password" )
    script(src="../public/js/password.js") 