doctype html
html 
    include components/head.pug
    style 
        include ../static/public/css/user-profile.css
    body 
        include components/header.pug
        main 
            form(action="/search-result", method="post") 
                section 
                    h3(class="section_header") CHANGE PASSWORD
                    div(class="profile_container") 
                      input(type="text" name="nickname" placeholder="Create new password")
                    div 
                    div(class="profile_container")
                      input(type="text" name="nickname" placeholder="Confirm new password")
                    div 
                        
                input(id="submit_button" class="primary_button" type="submit" value="Reset Password")
    script(src="../public/js/change-password.js") 