doctype html
html 
    include components/head.pug
    body 
        include components/header.pug
        main 
            form(class="search_form" action="/createDogProfile", method="post") 
                section
                  h3 CREATE A DOG ACCOUNT
                    div(class="") 
                        label(for="name") Name
                        input(type='text' name='name' value='name')
                    div(class="age_container") 
                        label(for="age") Age 
                        p(id="age_counter") Select an age
                        input(id="age_slider" type="range" name="age" value="0" step="1" min="0" max="15")
                    div(class="") 
                        label(for="name") Breed
                        input(type='text' name='breed' value='breed')
                    div 
                        h3 Doge Vibe
                        ul(id="doge_vibe_list" class="checkbox_list")
                            li 
                                input(type="checkbox" id="cute" name="doggo_vibes[0]" value="cute")
                                label(for="cute") Cute
                            li 
                                input(type="checkbox" id="playful" name="doggo_vibes[1]" value="playful")
                                label(for="playful") Playful
                            li 
                                input(type="checkbox" id="fluffy" name="doggo_vibes[2]" value="fluffy")
                                label(for="fluffy") Fluffy
                            li 
                                input(type="checkbox" id="relaxed" name="doggo_vibes[3]" value="relaxed")
                                label(for="relaxed") Relaxed
                            li
                                input(type="checkbox" id="cool" name="doggo_vibes[4]" value="cool")
                                label(for="cool") Cool
                            li 
                                input(type="checkbox" id="beautiful" name="doggo_vibes[5]" value="beautiful")
                                label(for="beautiful") Beautiful
                            li 
                                input(type="checkbox" id="chubby" name="doggo_vibes[6]" value="chubby")
                                label(for="chubby") Chubby
                section 
                    h3 LOCATION PREFRENCES 
                    div     
                        h3 Location Type
                        ul(id="location_types" class="checkbox_list")
                            li 
                                input(type="checkbox" id="beach" name="beach")
                                label(for="beach") Beach
                            li 
                                input(type="checkbox" id="forest" name="forest")
                                label(for="forest") Forest
                            li  
                                input(type="checkbox" id="park" name="park")
                                label(for="park") Park
                            li 
                                input(type="checkbox" id="lake" name="lake")
                                label(for="lake") Lake
                            li 
                                input(type="checkbox" id="city_walk" name="city_walk")
                                label(for="city_walk") City walk
       
                input(id="submit_button" class="primary_button" type="submit" value="continue")
script(src="../public/js/createDogProfile.js") 