doctype html
html 
    include components/head.pug
    style 
        include ../static/public/css/home.css
    body 
        include components/header.pug
        main 
        
h3.section_header  CREATE AN ACCOUNT 
p
  | Welcome to DogeMeet! Let's fill in your profile so that we can start meeting other dogs.

form(action="/createUserProfile", method="post") 
        label(for='name') Name
        input(type='text' name='name' value='name')
        label(for='email') Email
        input(type='text' name='email' value='email')
        label(for='password') Password
        input(type='text' name='password' value='password')

        input(id="submit_button" class="primary_button" type="submit" value="continue")

include components/nav.pug