@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #0b0e11; }

li {
  list-style-type: none; }

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #f8f8f8; }

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #f8f8f8; }

h3 {
  font-size: 1.125rem;
  font-weight: 600;
  color: #f8f8f8; }

h4 {
  font-size: 1rem;
  font-weight: 600;
  color: #f8f8f8; }

h5 {
  font-size: 0.875rem;
  font-weight: 600;
  color: #f8f8f8; }

p,
li,
label {
  font-size: 0.875rem;
  font-weight: 400;
  color: #ebebeb; }

body,
button,
input[type='submit'],
textarea {
  font-family: 'Poppins', sans-serif; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #151a21;
  height: 4rem;
  padding: 0 1.5rem; }
  header .header_logo {
    font-weight: 400;
    padding: 0; }
    header .header_logo span {
      color: #ca9ce1;
      font-weight: 600;
      font-style: italic; }
  header img {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%; }

.like_form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }
  .like_form input[type='submit'] {
    background-color: #f2befc;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem; }
    .like_form input[type='submit']:last-child {
      background-color: #ca9ce1;
      opacity: 0.8; }
    .like_form input[type='submit'] + input[type='submit'] {
      margin-left: 1.5rem; }

nav {
  position: fixed;
  bottom: 1.5rem;
  left: calc(50% - 7.25em); }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151a21;
    border-radius: 2rem;
    padding: 1rem 2rem; }
    nav ul li {
      width: 1.5rem;
      height: 1.5rem; }
      nav ul li + li {
        margin-left: 3rem; }

.primary_button {
  background-color: #f2befc;
  color: #0b0e11;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  text-decoration: none; }

.secondary_button {
  background-color: #ca9ce1;
  color: #f8f8f8;
  font-size: 0.875rem;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  padding: 0.75rem 1.5rem;
  text-decoration: none; }

.doggo_container {
  position: relative;
  padding: 0 1rem;
  margin: 2rem 0 1.5rem 0; }
  .doggo_container img {
    display: block;
    border: 0.125rem solid #242c37;
    border-radius: 0.75rem;
    width: 100%; }
  .doggo_container > div::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(196, 196, 196, 0)); }
  .doggo_container section {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 2.5rem 1rem 2.5rem; }
    .doggo_container section div {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 0.375rem; }

article.empty {
  text-align: center;
  padding: 3rem 1.5rem; }
  article.empty h2 {
    text-align: left;
    margin-bottom: 0.5rem; }
  article.empty p {
    text-align: left;
    margin-bottom: 1.5rem; }
  article.empty a {
    display: inline-block;
    text-decoration: none;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.2); }

.matches_container {
  margin: 3rem 0; }
  .matches_container > h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.75rem;
    padding: 0 1.5rem; }
    .matches_container > h3 .liked_counter {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      font-size: 0.625rem;
      border-radius: 0.75rem;
      background-color: #ca9ce1;
      padding-top: 1px;
      margin-left: 0.75rem;
      width: 1rem;
      height: 1rem; }
  .matches_container li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: #151a21;
    border-top: 0.125rem solid #242c37;
    border-bottom: 0.125rem solid #242c37;
    padding: 0.75rem 1.5rem; }
    .matches_container li a + li {
      border-top: none; }
    .matches_container li a section {
      margin-left: 1rem; }
  .matches_container .button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1.5rem;
    width: 100%; }
  .matches_container article.empty {
    padding: 0 1.5rem; }

.details_container {
  margin-top: 2em; }
  .details_container div {
    position: relative; }
    .details_container div .image_container {
      padding: 0 1rem; }
      .details_container div .image_container img {
        display: block;
        border: 0.125rem solid #242c37;
        border-radius: 0.75rem;
        width: 100%; }
      .details_container div .image_container::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(196, 196, 196, 0)); }
    .details_container div h2 {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0 0 1rem 2.5rem; }
  .details_container section {
    margin-bottom: 1.5rem; }
    .details_container section h3 {
      margin: 1rem 0 0.75rem 0;
      padding: 0 1.5rem; }
    .details_container section div {
      border-top: 0.125rem solid #242c37;
      border-bottom: 0.125rem solid #242c37;
      background-color: #151a21;
      padding: 1rem 1.5rem; }
      .details_container section div div {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border: none;
        margin-bottom: 0.375rem;
        padding: 0; }
        .details_container section div div + div {
          margin-bottom: 1rem; }
      .details_container section div ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1rem; }
        .details_container section div ul li {
          font-size: 0.75rem;
          font-weight: 600;
          border-radius: 1rem;
          background-color: #ca9ce1;
          padding: 0.5rem 1rem; }
          .details_container section div ul li + li {
            margin-left: 1rem; }

.search_form section {
  margin-top: 3rem; }
  .search_form section > h3 {
    margin-bottom: 0.75rem;
    padding: 0 1.5rem; }
  .search_form section div {
    background-color: #151a21;
    border-top: 0.125rem solid #242c37;
    border-bottom: 0.125rem solid #242c37;
    padding: 0 1.5rem; }
    .search_form section div + div {
      border-top: none; }
    .search_form section div h3 {
      padding: 1rem 0 0.75rem 0; }
  .search_form section .age_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap; }
    .search_form section .age_container label {
      font-size: 1.125rem;
      font-weight: 600;
      border: none;
      box-shadow: none;
      padding: 1rem 0 0 0;
      margin: 0; }
    .search_form section .age_container input[type='range'] {
      -webkit-appearance: none;
      appearance: none;
      background-color: #242c37;
      outline: none;
      border-radius: 0.5rem;
      width: 100%;
      height: 0.25rem;
      margin: 1.125rem 0 1.625rem 0; }
    .search_form section .age_container input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer;
      background-color: #f2befc;
      border-radius: 0.75rem;
      box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.2);
      width: 1.5rem;
      height: 1.5rem; }
  .search_form section .checkbox_list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 0.25rem; }
    .search_form section .checkbox_list input {
      display: none; }
      .search_form section .checkbox_list input:checked + label {
        color: #0b0e11;
        background-color: #f2befc; }
    .search_form section .checkbox_list label {
      display: inline-block;
      cursor: pointer;
      border: 0.125rem solid #f2befc;
      border-radius: 22rem;
      box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.2);
      transition: 0.3s;
      padding: 0.75rem 1.5rem;
      margin: 0 1rem 0.75rem 0; }
    .search_form section .checkbox_list li:last-child label {
      margin-right: 0; }
    .search_form section .checkbox_list .location_list_item {
      width: 100%; }
      .search_form section .checkbox_list .location_list_item label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 0;
        width: 100%; }
  .search_form section #locations_text {
    margin-bottom: 1rem; }

.search_form input[type='submit'] {
  display: block;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  margin: 2rem auto; }

.search_form input[type='submit']:disabled {
  opacity: 0.5; }

.chat_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0; }
  .chat_header a img {
    display: block;
    margin-left: 0; }
  .chat_header img,
  .chat_header h3 {
    margin-left: 1rem; }

.messages_container {
  margin: 7rem 0 7.5rem 0; }
  .messages_container .sent-message {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    padding: 0 1.5rem;
    margin-top: 1rem; }
    .messages_container .sent-message + .sent-message {
      margin-top: 0.375rem; }
      .messages_container .sent-message + .sent-message p {
        border-radius: 1.125rem 0.25rem 0.25rem 1.125rem; }
      .messages_container .sent-message + .sent-message span {
        display: none; }
    .messages_container .sent-message.new-message {
      margin-top: 1rem; }
      .messages_container .sent-message.new-message p {
        border-radius: 1.125rem 1.125rem 0.25rem 1.125rem; }
    .messages_container .sent-message p {
      color: #0b0e11;
      background-color: #f2befc;
      border-radius: 1.125rem 1.125rem 0.25rem 1.125rem;
      max-width: 16rem;
      padding: 0.5rem 1rem; }
    .messages_container .sent-message span {
      font-size: 0.625rem;
      color: #ebebeb;
      margin-bottom: 0.5rem; }
  .messages_container .recieved-message {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 1.5rem;
    margin-top: 1rem; }
    .messages_container .recieved-message + .recieved-message {
      margin-top: 0.375rem; }
      .messages_container .recieved-message + .recieved-message p {
        border-radius: 0.25rem 1.125rem 1.125rem 0.25rem; }
      .messages_container .recieved-message + .recieved-message span {
        display: none; }
    .messages_container .recieved-message.new-message {
      margin-top: 1rem; }
      .messages_container .recieved-message.new-message p {
        border-radius: 1.125rem 1.125rem 1.125rem 0.25rem; }
    .messages_container .recieved-message p {
      color: #f8f8f8;
      background-color: #ca9ce1;
      border-radius: 1.125rem 1.125rem 1.125rem 0.25rem;
      max-width: 16rem;
      padding: 0.5rem 1rem; }
    .messages_container .recieved-message span {
      font-size: 0.625rem;
      color: #ebebeb;
      margin-bottom: 0.5rem; }
  .messages_container .new-message span {
    display: block !important; }

.message_form_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #151a21;
  height: 4.5rem;
  padding: 0 1.5rem; }
  .message_form_container form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%; }
    .message_form_container form textarea {
      flex-grow: 1;
      font-size: 0.875rem;
      color: #ebebeb;
      border: 0.125rem solid #f2befc;
      border-radius: 1.5rem;
      outline: none;
      background-color: #0b0e11;
      resize: none;
      box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.2);
      padding: 0.75rem 1.5rem;
      margin-right: 1rem; }
    .message_form_container form input[type='submit'] {
      color: #ebebeb;
      border: none;
      border-radius: 1.5rem;
      background-color: #ca9ce1;
      box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.2);
      width: 3rem;
      height: 3rem; }

.user_form_container section {
  margin: 3rem 0 0.2rem 0;
  border-bottom: 0.125rem solid #242c37; }
  .user_form_container section h3 {
    padding: 1rem 0 0.75rem 0; }
  .user_form_container section div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #151a21;
    border-top: 0.125rem solid #242c37;
    padding: 0.7rem 7.5rem 0.7rem 1.5rem; }
    .user_form_container section div label {
      color: #ca9ce1; }
    .user_form_container section div input {
      background-color: #151a21;
      border: none;
      color: #f8f8f8; }
    .user_form_container section div .password {
      color: #f8f8f8;
      padding-right: 5.5rem; }

.user_form_container .change_password {
  color: #f8f8f8;
  text-decoration: underline;
  margin: 1.5rem;
  font-size: 0.75rem; }

.user_form_container input[type='submit'] {
  display: block;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  margin: 2rem auto; }

.user_form_container input[type='submit']:disabled {
  opacity: 0.5; }

/* Password requirements
  #requirements h3, ul, li {
    font-size:13px;
    font-weight: 500;
  }
  #requirements ul{
    margin-left: 1.5rem;
  }
.valid {
  color: green;
}
.valid:before {
  position: relative;
  left: -15px;
  content: "✔";
}
.invalid {
  color: red;
}
.invalid:before {
  position: relative;
  left: -15px;
  content: "✖";
} */
